body{
    margin: 0;
    padding: 0;
}

nav{
    background-color: aquamarine;
}

nav ul li a{
    text-decoration: none;
}

nav ul li{
    display: inline;
    padding: 0 20px;
    text-transform: uppercase;
    font-size: 15px;
}



/**Cambair formato de titulos encabezados**/
.titulos {
    text-align: center;
    font-weight: 700;

}

section div{
    display: inline-block;
    padding: 0 10px 20px 20px;
    text-transform: uppercase;
    font-size: 15px;
    width: 500px;
    background-color: #3DBBD4;
    margin: 0px 20px;
    border-radius: 10px;
}


/**Seccion Nosotros**/
.caja{
    display: flex;
}
.caja > div{
    width: 50%;
    padding: 10%;
}

@media(max-widht:768px){
    .caja{
        display: block;
    }
    .caja > div{
        width: 90%;
        padding: 10%;
    }
}
/**Seccion Contenedor Nosotros**/
.encabezado{
    font-weight: 300;
    text-align: center;
}

.iconos-nosotros{
    display: flex;
    justify-content: space-between;

}

.iconos{
    flex-basis: calc(33.33% - 1rem);
    text-align: center;

}

.mayusculas{
    text-transform: capitalize;

}

/**Seccion de Objetivos Nosotros**/
.objetivo-nosotros{
    display: flex;
    justify-content: space-around;

}

.objetivos{
    flex-basis: calc(33.33% - 1rem);
    text-align: center;

}

footer{
    margin-top: 200px;
    background-color: #2A707E;
    color: #fff; /* Color del texto */
    padding: 20px 0; /* Espaciado interno */
    text-align: center; /* Alineación del texto */
    width: 100%; /* Ancho completo */
    bottom: 0; /* Fijar en la parte inferior */
}
